.smallImg {
    max-width: 25%;
    text-align: center;
}

.smallImg img {
    width: 100%;
    overflow: hidden;
    height: 190px;
}

.imagesWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.resultWrapper {
    margin-top: 2em;
}

.result {
    width: 100%;
}

.interactiveImageWrapper {
    width: 100%;
    text-align: center;
}

.interactiveImage {
    max-width: 100%;
    max-height: 200px;
    margin: auto;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

    .imagesWrapper {
        flex-direction: column;
    }

    .smallImg {
        max-width: 100%;
    }

    .smallImg img {
        width: 100%;
        height: auto;
    }
}