.smallImg {
    max-width: 20%;
}

.imagesWrapper {
    display: flex;
    width: 100%;
}

.resultWrapper {
    margin-top: 2em;
}

.result {
    width: 100%;
}

.interactiveImageWrapper {
    width: 100%;
    text-align: center;
}

.interactiveImage {
    max-width: 100%;
    max-height: 200px;
    margin: auto;
}